/* fonttype */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Lato:wght@300&display=swap');   */
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700&family=Lato:wght@300&display=swap');   

/* header_Section */
header{height: 200px;  
    /* background-image: url(/image/heading-img/produimage.jpg); */
    background-color: #E0DDAA;
    background-attachment: fixed;  
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    background-position: bottom;}

/* mainheading_Section */
h1{ font-weight: bold;
    font-size: 50px;
    padding-top: 3%; 
    /* margin-left: 10%; */
    text-align: center;
    color: #fff;
    text-align: center;
    text-shadow: 4px 4px 4px #323232;}

   /* heading_Section*/

h1,  h2,  h3,  h4,  h5, h6  
{ font-family: "Fira Sans", sans-serif; 
   font-weight: 700; 
   margin-left: 1%; }  


/* paragrapgh_Section */
 p {font-family: "Lato", sans-serif;  
 font-weight: 300;  
 padding: none;
   margin-left: 1%;   
 font-size: 18px; }  
 
 /* anchor_Section */
a{text-decoration: none;
  color: #e45826;   
  font-family: "Fira Sans", sans-serif ; 
  font-size: 16px;
  font-weight: 600; } 

h2 {color: red;
  text-align: center;
    /* text-shadow: 4px 4px 4px #000000; */}

/* navigation_Section */
nav{background-color: #203239; 
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    list-style: none; 
    margin: 0%;
    padding: 0%;
    text-align: right;
  padding-right: 2%;}

nav a {text-decoration: none;
    color: #fff; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /* font-family: ; */}

    .red{color: #ff0000;}  

nav a:hover {text-decoration:  none;
    color: #323232;
    background-color: #E0DDAA;}

a:hover{ text-decoration:  none;
    color: #323232;
    background-color: #E0DDAA;}

a:focus {  background-color: #E0DDAA;
color: #323232;}

/* body_Section */
body{ /* width:100%; */
  margin: 0%;
      min-width:1000px;   
      height:auto;}     

/* main_Section */
.slide{margin-bottom: 2%;
  margin-top: 1%;
  font-weight: bolder;}

  .click {
    margin: 2.5%;
    background-color: #e0ddaa;
    padding: 8px;
    display: block;
    text-decoration: none;
  }
  
  .click:focus {
    color: #fff;
  }
  
  .click:hover {
    color: #fff;
  }
    
  .color{color: #323232;
  
  clear: both;}

  .center{text-align: center;}

 .column {float: left;
 width: 24%;
 text-align: center;
 padding: 5px; 
 margin-left: 1%;}
            
.row::after { content: "";
 clear: both;
 display: table;} 
              
 .slideup{ margin: 2%; 
  text-align: left;
  background-color: #203239;
  padding: 1%;
  color: #fff;} 

 .pages{display: block;
  text-align: center;
   margin-top: 5%;}
                  
 .pages a{color: #323232;
  padding: 8px 16px;
  text-decoration: none;}
                    
  .pagenumber{margin-left: 3%; 
  display: inline-block;
  text-align: left;
  color: #ff0000;
  font-weight: bold;}
                      
 .blacknumber{margin-left:3%;
   margin-top: 10%;
   color: black;
  margin-left: 1%; 
  display: inline-block;}  
                        
 .bold{font-weight: bolder;}
                        
img:hover{ border-color: brown solid;}

.pages{display: block;
text-align: center;
text-decoration: none;}

.pages a{ color: #000000;
  padding: 8px 16px;
  text-decoration: none;}

/* footer_Section */
footer{display: flex;
  background-color: #141e27;
  width: 100%;
  height: 220px;
  padding-bottom: 2%;
  color: #fff;}

  .col {display: block;
 width: 100%;}    

.col, span{display: block;
  margin: 8px;}
  
.copy{margin-top: 15%;}

a{text-decoration: none;
    padding: 1%;      
    color: white;}

img{opacity: 0.4;
  filter: alpha(opacity=40);}

img:hover{ opacity: 1.0;
  filter: alpha(opacity=100);}

* { scroll-behavior: smooth;
box-sizing: border-box;} 

img{width: 50%;
  height: 300px;}